{% extends 'articles/base.html' %}
{% load bootstrap4 %}
{% block body %}

<h1>{{user_profile.username}}의 프로필</h1>
{% comment %} {% if request.user == user_profile %} {% endcomment %}

<a href="{% url 'accounts:follow' user_profile.pk %}">
{% if user in user_profile.followers.all %}
<p>팔로우 취소</p>
{% else %}
<p>팔로우</p>
{% endif %}
</a>


<h2>팔로우 : {{user_profile.followings.all.count}}</h2>
<h2>팔로워 : {{user_profile.followers.all.count}}</h2>


    <h2>내가 쓴 글 {{user_profile.article_set.all.count}}</h2>
    {% for article in user_profile.article_set.all  %}
    <p>
    <a href="{% url 'articles:detail' article.pk %}">
        {{article.pk}} : {{article.title}}
    </a>
    </p>
    {% endfor %}
    <hr>


    <h2>내가 쓴 댓글</h2>
    {% for comment in user_profile.comment_set.all  %}
    <p>
    <a href="{% url 'articles:detail' comment.article_id %}">
        {{comment.article_id}} 글의 {{comment.content}}
    </a>
    </p>
    {% endfor %}
    <hr>


    <h2>내가 좋아요 한 글</h2>
    {% for article in user_profile.like_articles.all %}
    <p>
    <a href="{% url 'articles:detail' article.pk %}">
        {{article.pk}} : {{article.title}}
    </p>
    {% endfor %}
    <hr>


{% comment %} {% endif %} {% endcomment %}
{% endblock %}