{% extends 'articles/base.html' %}
{% load bootstrap4 %}
{% block body %}
<h1>{{ article.id }}번 글</h1>
<h2>{{ article.title }}</h2>
{% comment %} 글쓴사람 {% endcomment %}
<a href="{% url 'accounts:profile' article.user.pk %}">{{ article.user}}</a>
{% comment %} <img src="{{ article.image.url }}"> {% endcomment %}
<img src="{{ article.image_thumbnail.url }}">

<p>작성일자 : {{ article.created_at }}</p>
<p>수정일자 : {{ article.updated_at }}</p>
<p>{{article.like_users.count}}명이 이 글을 좋아합니다</p>
<a href="{% url 'articles:like' article.pk %}">
{% if user in article.like_users.all %}
좋아요취소<i class='fas fa-heart fa-2x animated infinite bounce delay-2s" style="color: red;'></i>
{% else %}
좋아요<i class='far fa-heart fa-2x animated infinite bounce delay-2s" style="color: red;'></i>
{% endif %}
</a>
<hr>
<p>{{ article.content }}</p>
<!-- a tag : GET -->
<a href="{% url 'articles:index' %}">목록으로</a>

{% comment %} 좋아요 {% endcomment %}

{% if article.user == user %}
<form action="{% url 'articles:delete' article.pk %}" method="POST" 
onclick="return confirm('진짜 지울래?')">
    {% csrf_token %}
    <input type="submit" value="삭제">
</form>
<a href="{% url 'articles:update' article.pk %}">수정하기</a>
{% endif %}

<hr>
<h3>댓글 작성 </h3>
<h4>댓글 수 : {{ comments.count }}</h4>
<form action="{% url 'articles:comment_create' article.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
</form>
{% comment %} {% for comment in comments %}
    <li>{{ comment.content }}</li>
    <li>{{ comment.created_at }}</li>
    <hr>
{% empty %}
    <p>댓글이 없어요 ㅜㅜ 작성 해주세요</p>
{% endfor %} {% endcomment %}

{% for comment in article.comment_set.all %}
    <li>{{ comment.content }}</li>
    <li>{{ comment.created_at }}</li>
    <li>{{ comment.user }}</li>
    
    {% if comment.user == user %}
    <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST" 
    onclick="return confirm('진짜 지울래?')">
        {% csrf_token %}
        <input type="submit" value="삭제">
    </form>
    {% endif %}
    <hr>
{% endfor %}

{% endblock %}